esb/app/mule/kallsonysesb/src/main/resources/01_ESB/Common/ExceptionGeneric.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.kallsonys.com.co/cim/common/exceptiongeneric" targetNamespace="http://www.kallsonys.com.co/cim/common/exceptiongeneric" elementFormDefault="unqualified">
	<element name="exceptionGeneric" type="tns:ExceptionGeneric"/>
	<complexType name="ExceptionGeneric">
		<sequence>
			<element name="code" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="description" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="subCode" type="tns:ExceptionGeneric" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
</schema>
