esb/app/external/RapidService/src/conf/xml-resources/web-services/ServicioRapidService/wsdl/RapidService.wsdl

<?xml version="1.0"?>
<definitions xmlns:tns="http://RapidService.com.co/" 
	xmlns:xsd1="http://RapidService.com.co/RapidServiceQuoteService" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	name="RapidServiceQuoteService" 
	targetNamespace="http://RapidService.com.co/">
	<types>
		<schema targetNamespace="http://RapidService.com.co/RapidServiceQuoteService" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="Item">
				<sequence>
					<element name="itemId" type="string" nillable="true"/>
					<element name="quantity" type="long"/>
				</sequence>
			</complexType>
			<element name="orderQuouteElement">
				<complexType>
					<sequence>
						<element name="orderId" type="string" nillable="true"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderQuouteResponseElement">
				<complexType>
					<sequence>
						<element name="result" type="boolean"/>
					</sequence>
				</complexType>
			</element>
			<element name="processQuoteElement">
				<complexType>
					<sequence>
						<element name="orderId" type="string" nillable="true"/>
						<element name="items" type="xsd1:Item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="Quote">
				<sequence>
					<element name="supplierPrice" type="string" nillable="true"/>
				</sequence>
			</complexType>
			<element name="processQuoteResponseElement">
				<complexType>
					<sequence>
						<element name="result" type="xsd1:Quote" nillable="true"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="RapidService_orderQuoute">
		<part name="parameters" element="xsd1:orderQuouteElement"/>
	</message>
	<message name="RapidService_orderQuouteResponse">
		<part name="parameters" element="xsd1:orderQuouteResponseElement"/>
	</message>
	<message name="RapidService_processQuote">
		<part name="parameters" element="xsd1:processQuoteElement"/>
	</message>
	<message name="RapidService_processQuoteResponse">
		<part name="parameters" element="xsd1:processQuoteResponseElement"/>
	</message>
	<portType name="RapidServiceQuoteService">
		<operation name="orderQuoute">
			<input message="tns:RapidService_orderQuoute"/>
			<output message="tns:RapidService_orderQuouteResponse"/>
		</operation>
		<operation name="processQuote">
			<input message="tns:RapidService_processQuote"/>
			<output message="tns:RapidService_processQuoteResponse"/>
		</operation>
	</portType>
	<binding name="RapidServiceQuoteServiceBinding" type="tns:RapidServiceQuoteService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="orderQuoute">
			<soap:operation soapAction="urn:#orderQuoute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="processQuote">
			<soap:operation soapAction="http://example.com/processQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RapidServiceQuoteService">
		<documentation>Rapid Service service</documentation>
		<port name="RapidServiceQuoteServicePort" binding="tns:RapidServiceQuoteServiceBinding">
			<soap:address location="http://localhost:8080/RapidServiceApp/RapidServiceQuoteService"/>
		</port>
	</service>
</definitions>
