esb/app/mule/Kallsonys/src/main/wsdl/01_ESB/Message/04_BRMS/wsdl/1.2/brms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:excgen="http://www.kallsonys.com.co/cim/common/exceptiongeneric" xmlns:tns="http://www.kallsonys.com.co/cim/message/brms/v1" name="BRMS" targetNamespace="http://www.kallsonys.com.co/cim/message/brms/v1">
	<wsdl:import namespace="http://www.kallsonys.com.co/cim/common/exceptiongeneric" location="../../../../Common/ExceptionGeneric.xsd"/>
	<wsdl:import namespace="http://www.kallsonys.com.co/cim/message/payment/v1" location="../../xsd/brms.xsd"/>
	<xsd:types>
		<xsd:schema xmlns:tns="http://www.kallsonys.com.co/cim/message/brms/v1" targetNamespace="http://www.kallsonys.com.co/cim/message/brms/v1">
			<xsd:include schemaLocation="../../xsd/brms.xsd"/>
		</xsd:schema>
	</xsd:types>
	<wsdl:message name="headerRq">
		<wsdl:part name="headerRq" element="tns:headerRq"/>
	</wsdl:message>
	<wsdl:message name="headerRs">
		<wsdl:part name="headerRs" element="tns:headerRs"/>
	</wsdl:message>
	<wsdl:message name="DefineShipmentCompany_in">
		<wsdl:part name="DefineShipmentCompanyRq" element="tns:DefineShipmentCompanyRq"/>
	</wsdl:message>
	<wsdl:message name="DefineShipmentCompany_out">
		<wsdl:part name="DefineShipmentCompanyRs" element="tns:DefineShipmentCompanyRs"/>
	</wsdl:message>
	<wsdl:message name="DefineShipmentCompany_fault1">
		<wsdl:part name="exceptionGeneric" element="excgen:exceptionGeneric"/>
	</wsdl:message>
	<wsdl:message name="ValidateAmountAccordingCustomerClass_in">
		<wsdl:part name="ValidateAmountAccordingCustomerClassRq" element="tns:ValidateAmountAccordingCustomerClassRq"/>
	</wsdl:message>
	<wsdl:message name="ValidateAmountAccordingCustomerClass_out">
		<wsdl:part name="ValidateAmountAccordingCustomerClassRs" element="tns:ValidateAmountAccordingCustomerClassRs"/>
	</wsdl:message>
	<wsdl:message name="ValidateAmountAccordingCustomerClass_fault1">
		<wsdl:part name="exceptionGeneric" element="excgen:exceptionGeneric"/>
	</wsdl:message>
	<wsdl:portType name="BRMSPortType">
		<wsdl:operation name="defineShipmentCompany">
			<wsdl:input name="DefineShipmentCompany_Input" message="tns:DefineShipmentCompany_in"/>
			<wsdl:output name="DefineShipmentCompany_Output" message="tns:DefineShipmentCompany_out"/>
			<wsdl:fault name="DefineShipmentCompany_Fault" message="tns:DefineShipmentCompany_fault1"/>
		</wsdl:operation>
		<wsdl:operation name="validateAmountAccordingCustomerClass">
			<wsdl:input name="ValidateAmountAccordingCustomerClass_Input" message="tns:ValidateAmountAccordingCustomerClass_in"/>
			<wsdl:output name="ValidateAmountAccordingCustomerClass_Output" message="tns:ValidateAmountAccordingCustomerClass_out"/>
			<wsdl:fault name="ValidateAmountAccordingCustomerClass_Fault" message="tns:ValidateAmountAccordingCustomerClass_fault1"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BRMSBinding" type="tns:BRMSPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="defineShipmentCompany">
			<soap12:operation soapAction="defineShipmentCompany"/>
			<wsdl:input name="DefineShipmentCompany_Input">
				<soap12:header message="tns:headerRq" part="headerRq" use="literal"/>
				<soap12:body parts="DefineShipmentCompanyRq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="DefineShipmentCompany_Output">
				<soap12:header message="tns:headerRs" part="headerRs" use="literal"/>
				<soap12:body parts="DefineShipmentCompanyRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DefineShipmentCompany_Fault">
				<soap12:header message="tns:headerRs" part="headerRs" use="literal"/>
				<soap12:fault name="DefineShipmentCompany_Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="validateAmountAccordingCustomerClass">
			<soap12:operation soapAction="validateAmountAccordingCustomerClass"/>
			<wsdl:input name="ValidateAmountAccordingCustomerClass_Input">
				<soap12:header message="tns:headerRq" part="headerRq" use="literal"/>
				<soap12:body parts="ValidateAmountAccordingCustomerClassRq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ValidateAmountAccordingCustomerClass_Output">
				<soap12:header message="tns:headerRs" part="headerRs" use="literal"/>
				<soap12:body parts="ValidateAmountAccordingCustomerClassRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ValidateAmountAccordingCustomerClass_Fault">
				<soap12:header message="tns:headerRs" part="headerRs" use="literal"/>
				<soap12:fault name="ValidateAmountAccordingCustomerClass_Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BRMSService">
		<wsdl:port name="BRMSPort" binding="tns:BRMSBinding">
			<soap12:address location="http://localhost:9191/soap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
