esb/app/mule/Kallsonys/src/main/wsdl/01_ESB/Message/01_Factories/wsdl/1.2/FactoriesQuotesOrders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:excgen="http://www.kallsonys.com.co/cim/common/exceptiongeneric" xmlns:tns="http://www.kallsonys.com.co/cim/message/factoryquotesorder/v1" name="FactoriesQuotesOrders" targetNamespace="http://www.kallsonys.com.co/cim/message/factoryquotesorder/v1">
	<types>
		<schema targetNamespace="http://www.kallsonys.com.co/cim/message/factoryquotesorder/v1" xmlns="http://www.w3.org/2001/XMLSchema">
			<include schemaLocation="../../xsd/FactoryQuotesOrder.xsd"/>
			<import namespace="http://www.kallsonys.com.co/cim/common/exceptiongeneric" schemaLocation="../../../../Common/exceptiongeneric.xsd"/>
		</schema>
	</types>
	<wsdl:message name="FactoryQuotesOrder_in">
		<wsdl:part name="FactoryQuotesOrderRq" element="tns:FactoryQuotesOrderRq"/>
	</wsdl:message>
	<wsdl:message name="FactoryQuotesOrder_out">
		<wsdl:part name="FactoryQuotesOrderRs" element="tns:FactoryQuotesOrderRs"/>
	</wsdl:message>
	<wsdl:message name="FactoryQuotesOrder_fault1">
		<wsdl:part name="exceptionGeneric" element="excgen:exceptionGeneric"/>
	</wsdl:message>
	<wsdl:message name="ValidateOrderQuote_in">
		<wsdl:part name="ValidateOrderQuoteRq" element="tns:ValidateOrderQuoteRq"/>
	</wsdl:message>
	<wsdl:message name="ValidateOrderQuote_out">
		<wsdl:part name="ValidateOrderQuoteRs" element="tns:ValidateOrderQuoteRs"/>
	</wsdl:message>
	<wsdl:message name="ValidateOrderQuote_fault1">
		<wsdl:part name="exceptionGeneric" element="excgen:exceptionGeneric"/>
	</wsdl:message>
	<wsdl:portType name="FactoriesQuotesOrdersPortType">
		<wsdl:operation name="factoryQuotesOrder">
			<wsdl:input name="FactoryQuotesOrder_Input" message="tns:FactoryQuotesOrder_in"/>
			<wsdl:output name="FactoryQuotesOrder_Output" message="tns:FactoryQuotesOrder_out"/>
			<wsdl:fault name="FactoryQuotesOrder_Fault" message="tns:FactoryQuotesOrder_fault1"/>
		</wsdl:operation>
		<wsdl:operation name="validateOrderQuote">
			<wsdl:input name="ValidateOrderQuote_Input" message="tns:ValidateOrderQuote_in"/>
			<wsdl:output name="ValidateOrderQuote_Output" message="tns:ValidateOrderQuote_out"/>
			<wsdl:fault name="ValidateOrderQuote_Fault" message="tns:ValidateOrderQuote_fault1"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FactoriesQuotesOrdersBinding" type="tns:FactoriesQuotesOrdersPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="factoryQuotesOrder">
			<soap12:operation soapAction="factoryQuotesOrder"/>
			<wsdl:input name="FactoryQuotesOrder_Input">
				<soap12:body parts="FactoryQuotesOrderRq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="FactoryQuotesOrder_Output">
				<soap12:body parts="FactoryQuotesOrderRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FactoryQuotesOrder_Fault">
				<soap12:fault name="FactoryQuotesOrder_Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="validateOrderQuote">
			<soap12:operation soapAction="validateOrderQuote"/>
			<wsdl:input name="ValidateOrderQuote_Input">
				<soap12:body parts="ValidateOrderQuoteRq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ValidateOrderQuote_Output">
				<soap12:body parts="ValidateOrderQuoteRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ValidateOrderQuote_Fault">
				<soap12:fault name="ValidateOrderQuote_Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FactoriesQuotesOrdersService">
		<wsdl:port name="FactoriesQuotesOrdersPort" binding="tns:FactoriesQuotesOrdersBinding">
			<soap12:address location="http://localhost:8080/message/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
