esb/app/mule/Kallsonys/src/main/wsdl/01_ESB/BusinessEntities/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.kallsonys.com.co/cim/businessentities/address" targetNamespace="http://www.kallsonys.com.co/cim/businessentities/address" elementFormDefault="unqualified">
	<complexType name="Address">
		<sequence>
			<element name="country" type="string" minOccurs="1"/>
			<element name="state" type="string" minOccurs="1"/>
			<element name="city" type="string" minOccurs="1"/>
			<element name="neighborhood" type="string" minOccurs="1"/>
			<element name="street" type="string" minOccurs="1"/>
			<element name="zipcode" type="string" minOccurs="1"/>
		</sequence>
	</complexType>
</schema>
