esb/app/mule/Kallsonys/src/main/wsdl/01_ESB/BusinessEntities/Company.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.kallsonys.com.co/cim/businessentities/company" targetNamespace="http://www.kallsonys.com.co/cim/businessentities/company" elementFormDefault="unqualified">
	<complexType name="Company">
		<sequence>
			<element name="companyId" type="tns:CompanyTypeEnum" maxOccurs="1"/>
		</sequence>
	</complexType>
	<simpleType name="CompanyTypeEnum">
		<restriction base="string">
			<enumeration value="KALLSONYS"/>
		</restriction>
	</simpleType>
</schema>
