esb/app/mule/Kallsonys/src/main/wsdl/01_ESB/BusinessEntities/ProductVendorCompany.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.kallsonys.com.co/cim/businessentities/productvendorcompany" targetNamespace="http://www.kallsonys.com.co/cim/businessentities/productvendorcompany" elementFormDefault="unqualified">
	<complexType name="ProductVendorCompany">
		<sequence>
			<element name="productVendorCompanyId" type="tns:ProductVendorCompanyTypeEnum" maxOccurs="1"/>
		</sequence>
	</complexType>
	<simpleType name="ProductVendorCompanyTypeEnum">
		<restriction base="string">
			<enumeration value="SONY"/>
			<enumeration value="RAPIDSERVICE"/>
		</restriction>
	</simpleType>
</schema>
